{% extends 'base.html' %}
{% load static %}

{% block title %}Service Support{% endblock title%}
{% block content %}

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Service & Support</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col" >
        <div class="feature-icon  bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h2>One Page Service</h2>
        <p >เขียนเว็บด้วย 1 หน้า 10 options ในราคาเริ่มต้น 5,999 บาท โดยจะสามารถแสดงบนได้ทุก Platforms โดยจะมีการ Support หลังจากติดตั้งจำนวน 3 ครั้ง
            <br><br><br><br><br>
        </p>
        <a href="#" class="icon-link">
          More Details
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon  bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
        </div>
        <h2>Small Page Service</h2>
        <p>เขียนเว็บด้วย Django 1-10 page ในราคาเริ่มต้น 20,000 บาท โดยสามารถ custom web page ได้ตลอดจนกว่าจะมีส่งมอบแต่จะต้องอยู่ในสัญญาตามรายละเอียดในฟังก์ชั่นโดยหลังจากส่งมอบจะ Support ฟรี 1 เดือน</p>
        <br><br>
        <a href="#" class="icon-link">
            More Details
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon  bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
        </div>
        <h2>Biger Page Service</h2>
        <p>เว็บสำหรับรองรับการใช้งานขนาใหญ่ที่ตามเงื่อนไขสัญญา โดยราคาเริ่มต้นที่จะอยู่ที่ 25,000 Manday โดยจะมีระบบหลังบ้าน database สำหรับเก็บข้อมูล และ Services โดยหลังจากการส่งมอบจะ Support โดยคิดค่าบริการรายปีตามที่ระบุในสัญญาปีต่อปี</p>
        <br>
        <a href="#" class="icon-link">
            More Details
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    </div>
</div>

      {% endblock content %}